<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous"
/>
<style>
  raid-box {
    display: block;
    width: 700px;
    min-height: 170px;
    max-height: 300px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 38px;
    background: black;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    padding: 10px;
  }

  raid-box line {
    display: block;
  }

  raid-box response,
  raid-box newline {
    display: none;
  }

  raid-box line i,
  raid-box line span,
  raid-box newline i,
  raid-box newline span {
    color: #20cb80;
  }

  raid-box data {
    display: none;
  }
</style>
<raid-box>
  <data name="{name}" count="{count}"></data>
  <line> <i class="fa fa-arrow-right"></i><span>$</span> <command></command> </line>
  <response>ALERT! ALERT! VIRUSES DETECTED!<br />BURN EVERYTHING!</response>
  <newline> <i class="fa fa-arrow-right"></i><span>$</span></newline>
</raid-box>
<script>
  if (!customElements.get('raid-box')) {
    const factory = () =>
      class TerminalBox extends HTMLElement {
        get $data() {
          return this.querySelector('data');
        }
        get $command() {
          return this.querySelector('command');
        }
        get $response() {
          return this.querySelector('response');
        }

        get $newline() {
          return this.querySelector('newline');
        }

        async connectedCallback() {
          for (let char of (
            'printenv | grep ' +
            this.$data.getAttribute('name') +
            ' --iterations ' +
            this.$data.getAttribute('count')
          ).split('')) {
            await this.type(char);
          }

          await this.showResponse();
        }

        async type(char) {
          return new Promise(resolve =>
            setTimeout(() => resolve((this.$command.innerHTML += char)), this.between(75, 150))
          );
        }

        between(min, max) {
          return Math.floor(Math.random() * (max - min + 1) + min);
        }

        async showResponse() {
          return new Promise(resolve =>
            setTimeout(() => {
              this.$response.style.display = 'block';
              this.$newline.style.display = 'block';
              resolve();
            }, 1000)
          );
        }
      };
    customElements.define('raid-box', factory());
  }
</script>
