<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous"
/>
<style>
  subscribe-box {
    display: block;
    width: 700px;
    min-height: 170px;
    max-height: 300px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 38px;
    background: black;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    padding: 10px;
  }

  subscribe-box line {
    display: block;
  }

  subscribe-box response,
  subscribe-box newline {
    display: none;
  }

  subscribe-box line i,
  subscribe-box line span,
  subscribe-box newline i,
  subscribe-box newline span {
    color: #20cb80;
  }

  subscribe-box data {
    display: none;
  }
</style>
<subscribe-box>
  <data name="{name}" message="{userMessage}" months="{months}" gifter="{gifter}"></data>
  <line> <i class="fa fa-arrow-right"></i><span>$</span> <command></command> </line>
  <response>You are now subscribed!<br />Thanks and Happy Coding!</response>
  <newline> <i class="fa fa-arrow-right"></i><span>$</span></newline>
</subscribe-box>
<script>
  if (!customElements.get('subscribe-box')) {
    const factory = () =>
      class SubscribeBox extends HTMLElement {
        get $data() {
          return this.querySelector('data');
        }
        get $command() {
          return this.querySelector('command');
        }
        get $response() {
          return this.querySelector('response');
        }

        get $newline() {
          return this.querySelector('newline');
        }

        get name() {
          return this.$data.getAttribute('name');
        }

        get months() {
          const months = this.$data.getAttribute('months');
          return !!months && months !== '{months}' ? months : void 0;
        }

        get gifter() {
          const gifter = this.$data.getAttribute('gifter');
          return !!gifter && gifter !== '{gifter}' ? gifter : void 0;
        }

        get message() {
          const message = this.$data.getAttribute('message');
          return !!message && message !== '{userMessage}' ? message : void 0;
        }

        async connectedCallback() {
          for (let char of this.getMessage().split('')) {
            await this.type(char);
          }

          await this.showResponse();
        }

        async type(char) {
          return new Promise(resolve =>
            setTimeout(() => resolve((this.$command.innerHTML += char)), this.between(75, 150))
          );
        }

        between(min, max) {
          return Math.floor(Math.random() * (max - min + 1) + min);
        }

        async showResponse() {
          return new Promise(resolve =>
            setTimeout(() => {
              this.$response.style.display = 'block';
              this.$newline.style.display = 'block';
              resolve();
            }, 1000)
          );
        }

        getMessage() {
          if (!!this.gifter) {
            return 'gift -by ' + this.gifter + ' >> ' + this.name;
          }
          if (!!this.months && this.months > 1) {
            let message = 'resub -n ' + this.name + ' -for ' + this.months + 'months';
            if (!!this.message) {
              message += ' -m ' + this.message;
            }
            return message;
          }
          return 'sub -n ' + this.$data.getAttribute('name');
        }
      };
    customElements.define('subscribe-box', factory());
  }
</script>
